image: maven:3.9.6-eclipse-temurin-17

stages:
  - Update_Filters

Update_Filters:
  stage: Update_Filters
  script:
    - mvn spring-boot:run
    - rm -rf logs
    - git config user.email "ci@example.com"
    - git config user.name "CI"
    - git add .
    - git commit -m "CI update rule"
    - git remote rm origin
    - git remote add origin https://ci:$CI_ACCESS_TOKEN@gitlab.com/FlyLoongZhuo/ad-filters-subscriber.git
    - git push origin HEAD:main -o ci.skip
